
#AnchorPane{
    -fx-background-color: #607D8B;;
}

#label-bright {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #ECEFF1;
    -fx-color:#ECEFF1;
    -fx-opacity: 1;
}
